@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.45rem;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #171722;
  border-radius: 999px;
}

@layer utilities {
  .lucasleao {
    position: relative;
  }
  .lucasleao::after {
    padding: inherit;
    content: "Lucas Leão";
    position: absolute;
    left: 0;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    transition: all 0.5s;
    z-index: 1;
    background: #7f00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #e100ff,
      #7f00ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #e100ff,
      #7f00ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lucasleao:hover::after {
    width: 100%;
  }
}
